body{
   background: #0a0f27;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}



nav {
   background: #0a0f27;
}
.nav-link {
   color: white !important;
   margin-bottom: 5px;
}
.navbar-brand {
   margin-bottom: 7px;
}
.cusom-text {
   background: #f8e5a0;
   border-radius: 7px;
   color: black !important;
}
.nav-link:hover {
   background: #0a0f27;
   color: white !important;
   border-radius: 7px;
}
nav button:hover {
   background: #a3861e;
   
}



.hero {
   border-bottom: solid 1px #a3861e;
   border-bottom-right-radius: 40px;
}
.col-lg-4 {
   margin-left: 20px;
   padding-top: 50px;
}
.col-lg-4 h1 {
   color: #a3861e;
   font-weight: bold;
}
.col-lg-4 p {
   line-height: 23px;
   font-weight: bold;
   font-size: larger;
}
.col-lg-4 a {
   background: #f8e5a0;
   margin-right: 10px;
   border-radius: 5px;
}
.col-lg-4 a:hover {
   background: #a3861e;
   color: white;
}
.hero .col-lg-6 p {
   padding-left: 110px;
}



.about{
   padding: 30px;
   border-bottom: solid 1px #a3861e;
   border-bottom-left-radius: 40px;
   border-top: 1px solid #a3861e;
   border-top-left-radius: 40px; 
}
.col-lg-7{
   max-width: 800px;
   margin: auto;
   margin-top: 120px;
}
.col-lg-7 h1{
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 20px;
}
.col-lg-7 h4{
   font-size: 24px;
   margin-bottom: 20px;
   color: #f8e5a0;
}
.col-lg-7 span{
   color: #a3861e;
   font-weight: bold;
}
.col-lg-7 p{
   color: #cfcfcf;
   line-height: 1.8;
}
.col-lg-5 img {
   height: 700px;
}



.skills {
   padding-top: 40px;
   border-bottom: solid 1px #a3861e;
   border-bottom-right-radius: 40px;
   border-top: 1px solid #a3861e;
   border-top-right-radius: 40px;
}
.skills h2 {
   font-size: 50px;
   margin-bottom: 40px;
}
.skills .container {
   display: grid;
   grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
   gap: 50px;
   margin-bottom: 30px;
   justify-content: center;
}
.skills-card{
   background: #a3861e;
   color: black;
   padding: 15px;
   border-radius: 8px;
   font-weight: bold;
}



.contact {
   text-align: center;
   border-top: solid 1px #a3861e;
   border-top-left-radius: 40px;
   border-bottom: solid 1px #a3861e;
   border-bottom-left-radius: 40px;
}
.number {
   color: white;
}
.contact h2 {
   color: #a3861e;
   font-weight: bold;
   text-align: center;
}
.contact .row {
   text-align: start;
   display: flex;
   margin-bottom: 30px;
   justify-content: center;
}
.contact .col-lg-3 h3 {
   font-weight: bold;
   color: #f8e5a0;
}
.contact .col-lg-3 {
   border: solid #f8e5a0 4px;
   padding: 15px 1px 15px 35px;
}
.contact .col-lg-3 input,
.contact .col-lg-3 textarea {
   padding: 12px 0px 12px 6px;
   margin-bottom: 20px;
   border: 1px solid #f8e5a0;
   border-radius: 7px;
   background-color: #0a0f27;
   color: #cfcfcf;
}
.contact .col-lg-3 textarea {
   height: 60px;
   width: 204px; 
}
.contact button {
   width: 204px;
   background: #f8e5a0;
   color: black;
}
.contact button:hover {
   background: #a3861e;
   color: white;
}
